*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

*::selection {
    background-color: #ff9307;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}


header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
}

.nav-brand {
    width: 2rem;
}

.nav-brand img {
    width: 100vh;
    height: 4vh;
}

.menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i {
    color: #ff9307;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active {
    right: 0;
}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
}


.hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(15, 130, 224, 0.9) 0%, rgba(30, 105, 218, 0.8) 100%), url("images/main.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background-size: cover;
}

.main-message {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    transform: translateY(20%);
}

.main-message h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    margin:0 0 3rem 0;
}

.main-message h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.btn {
    background-color: #ff9307;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    font-size: 12px;
    font-weight: bold;
}

.btn:hover {
    background-color: #ff7f07;
}


.experience {
    padding: 20;
}

.title-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: rgba(0, 0, 0, .7);
}

.title-heading h3 {
    font-size: 1.4rem;
}

.title-heading h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0 1rem;
}

.activities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.activities-grid-item {
    height: 35rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.activities-grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(15, 130, 224, 0.9) 0%, rgba(30, 105, 218, 0.8) 100%);
    z-index: -1;
}

.curriculum {
    background: url("images/kurikulum.jpg") center no-repeat;
}

.cash {
    background: url("images/biaya.jpg") center no-repeat;
}

.topics {
    background: url("images/materi.jpg") center no-repeat;
}

.activities-grid-item i {
    transform: translateY(15%);
    font-size: 4rem;
    color: #ff9307;
}

.activities-grid-item h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}


.ceo-fasor {
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(15, 130, 224, 0.9) 0%, rgba(30, 105, 218, 0.8) 100%), url("images/ceo.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.ceo-fasor::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background-size: cover;
}

.ceo {
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ceo-text-box {
    padding: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.ceo-profile i {
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 7.5rem;
    color: #ff9307;
    z-index: 1;
}

.ceo-profile img {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    border: 5px solid #ff9307;
}

.ceo-profile h1 {
    font-size: 25px;
}


.adventure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}

.adventure-grid-item h4 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
}

.adventure-grid-item p {
    color: rgba(0, 0, 0, 0.7);
}

.adventure-grid-item i {
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.7);
    word-spacing: 0.5rem;
    text-align: center;
}

footer {
    padding: 2.5rem;
    color: white;
    text-align: center;
    background-color: rgba(18, 98, 218, 0.884);
}


@media screen and (min-width: 350px) {
    .main-message {
        transform: translateY(40%);
    }
}

@media screen and (min-width: 470px) {
    .hero::before {
        height: 9.4rem;
    }

    .testimonials::before {
        height: 9.4rem;
    }
}

@media screen and (min-width: 700px) {
    header {
        height: 8rem;
    }

    .nav-brand {
        width: 3.5rem;
    }

    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons {
        display: none;
    }

    .nav-item {
        margin: 0 2.5rem;
    }

    .nav-link, .current {
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }

    .nav-link::before, .current::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #ff9307;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .current::before {
        transform: scaleX(1);
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }

    .hero {
        height: 60vh;
    }

    .main-message {
        transform: translateY(20%);
    }

    .title-heading h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 950px) {
    .hero::before {
        height: 10rem;
    }

    .testimonials::before {
        height: 10rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 65vh;
    }
}